

h1.title {
  font-size: ms(16);
  margin:2em 0 0 0;

  div {
    font-size: ms(4);
  }
}

h2.sub-title {
  font-weight: 400;
  font-size: ms(3);
}



// Photo grid


/* ---- grid ---- */

.grid {
  background: #DDD;
  width:100%;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */



  .grid-sizer,
  .grid-item {
    width: 100%;
  }

  .grid-item {

    cursor: pointer;
    background-color: #666;

  img {
    display: block;
    max-width: 100%;
    opacity: 0.5;


    &:hover {
      opacity:1;
      transition: 1s;
    }

  }
}

// SMALL DEVICES
@include breakpoint($bp_s) {





}

// MEDIUM DEVICES

@include breakpoint($bp_m) {

  h1.title {
    font-size: ms(20);
  }

  .grid-sizer,
  .grid-item {
    width: 33.333%;
  }

  .grid-item {
    float: left;

  }




}


// LARGE DEVICES

@include breakpoint($bp_l) {



}
