h1.title,
h2.sub-title
{
  margin:0;
  font-family: $font-family--primary;
  color: $c_grey;
  font-weight: 400;
  font-size: ms(2);
  font-style: normal;
  border: none;

}

h1.title
{
  div
  {
    font-family: $font-family--secondary;
    font-weight: 400;
    font-size: ms(12);
    font-style: italic;
  }
}




/*----------  BUTTON  ----------*/

.button {
 flex: 1 1 auto;
 margin: 10px;
 padding: 20px;
 text-align: center;
 text-transform: uppercase;
 position: relative;
 overflow:hidden;
 transition: .3s;
 width: 80%;
 color: $color-five ;
 border: solid 4px $color-five ;
 font-size: ms(-1);
 font-family: $font-family--primary;
 font-weight: 700;
 margin: ms(1) auto;

  &:after {
  position: absolute;
  transition: .3s;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background: $color-five;
  height: 120%;
  left: -10%;
  z-index: -1;
  }

  &:hover {
  cursor: pointer;
  color: $color-background;
  background: none;

  &:after {
    width: 100%;
    left: 0;
    }

  }

}




// SMALL DEVICES
@include breakpoint($bp_s) {

.button {
  width: 50%;
}



}

// MEDIUM DEVICES

@include breakpoint($bp_m) {

  h1.title {
    font-size: ms(4);
    div {
      font-size: ms(18);
    }
  }

.button {
  width: 40%;
}


}


// LARGE DEVICES

@include breakpoint($bp_l) {

.button {
  width: 38%;
}


}
