/**
 *
 * Defaults
 *
 */


/* Sets box-sizing to border-box */

* {
  box-sizing: border-box;
}

/* Set viewport rules for viewport compatible browsers and IE 10 */

@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}

@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}



/**
 *
 * Custom rules
 *
 */




html, body {
    height: 100%;


}

a {
  text-decoration: underline dotted;
}

body {
  background-color: $color-background;
  font-family: $font-family--primary;
  color: $color-primary;
}


h1 {
  font-size: ms(10);
  color: $color-primary;
  font-family: $font-family--secondary;
  font-weight: 400;
  font-style: italic;


  div {
    color: $color-secondary;

  }
}

h2 {
  font-size: ms(10);
  font-family: $font-family--secondary;
  font-weight: 400;
  text-align: center;
  font-style: italic;
  display: inline-block;
    border-top: solid 2px;

}


p {
  font-size: ms(-2);
  line-height: ms(0) * 1.4;
  font-weight: 400;
}

 blockquote {
    color: $color-background;
    font-family: $font-family--secondary ;
    font-size: ms(-2);
    vertical-align: center;
    font-style: italic;

  }




@include breakpoint($bp_m) {

  p  {

  font-size: ms(-1);
  }


  h2{

    font-size: ms(14);

  }

}

