%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin generateBars ($c1, $c2, $arr) {
  @each $num in $arr {
    @if ($num >= 0) and ($num <=100)  {
    &--#{$num} {
      width: $num * 1%;
      background-color: mix($c2, $c1, $num);
      }
    }
  }
}
