%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin generateColumns ($c1, $c2, $arr) {
  @each $num in $arr {
    &--#{$num} {
      width:#{$num}%;
      $amount: ($num - 100) * -1;

      @debug $amount;
      background-color: mix($c2, $c1, $amount);
    }
  }
}
