
.content, .skills {
  @include container;
  padding: 0 2em;

}



.header {
  height: 100%;
  width: 100%;
  background-color: $color-four;
  text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;
}


.main, .nav {
  @include span(12);
}

/*======================================
=               COMMON                 =
======================================*/

.skills, .photo{
  padding-bottom: ms(11);

  .title {
    width: 100%;
    text-align: center;

  }
}


/*
    About
    */

    .about__profile, .about__bio {

      padding: 2em;

    }

    .quote {
      display: flex;
      background-color:red;
      height: 100%;
    }

    .about__profile{

      background-color: $color-primary;
      min-height: 250px;
      text-align: center;


      h2 {
        color: $color-secondary;
        margin-top:0;
        border-color: $color-secondary;
      }



    }

    .about__bio {
      background-color: $color-secondary;
      strong {
        color: $color-terciary;
        font-weight: 400;
      }


    }



/*======================================
=               SKILLS                =
======================================*/



.skills{
  @extend %clearfix;


  h3 {
    font-family: $font-family--secondary;
    font-size: ms(5);
    font-weight: 400;
    font-style: italic;
    margin-bottom: ms();
    color: $color-five ;

  }
}
.good, .experience, .know, .speak {
  margin-bottom: 3em;
  padding:1em;
}



.skills__gallery {
  @extend %clearfix;

}


.skills__list {
  list-style: none;

  padding: 0;

}

.skills__item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;

}

.skills__name {
  margin-right: ms(0);
  font-size: ms(-1);

  font-weight: 500;
  width:30%;

}

.skills__bar {
  height: 30px;
  width: 40%;
  background-color: $c_greylight ;
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 3px;




  &__fill {
    background-color: $color-secondary;
    height: 22px;

    @include generateColumns ($skill-scores);

  }


}


/*======================================
=               GALLERY                =
======================================*/

.photo {
  background-color: $color-primary ;
  .title {
    color: $color-secondary;
  }
}

.gallery {
  width: 100%;





  &__figure {
    background-color: $color-secondary;
    overflow: hidden;
    padding: 0;
    margin: 0;
    height: 33.333333vh;
    position: relative;
    text-align: center;




    img {

      object-fit: cover;
      width: 100%;
      height: 100%;
      border: 0;


      &:hover {
        opacity: 0.2;
      }

      a {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
      }

    }

  }


}



/*======================================
=            SMALL DEVICES            =
======================================*/


@include breakpoint($bp_s) {




  .main {
    @include span(6);
  }

  .nav {
   @include span(6 last);
 }


 /*----------  GALLERY  ----------*/


 .gallery__figure {
  @include gallery(6 of 12);
  margin: 0;
  padding: 0;
  height: 50vh;



}

}


/*======================================
=            MEDIUM DEVICES            =
======================================*/

@include breakpoint($bp_m) {


  /*----------  ABOUT  ----------*/



  .about {
    display:flex;
    flex-wrap:wrap;
  }

  .about__profile{
    @include span(6);



    blockquote {
      font-size:ms(2);
    }

  }

  .about__bio,
  .about__profile
  {
    @include span (6);
    padding: 2em;
  }




  /*----------  SKILLS  ----------*/


  .good, .experience, .know, .speak {
    @include gallery(6 of 12);
    margin-bottom: 1em;
    display: inline-block;
    padding: 0 3em 0 0;

  }



  /*----------  GALLERY  ----------*/


  .gallery__figure {
    @include gallery(4 of 12);
    margin: 0;
    padding: 0;


  }





}

/*=====  End of MEDIUM DEVICES  ======*/





// LARGE DEVICES

@include breakpoint($bp_l) {



}
