// Font Stacks

@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,400italic,500,500italic,600italic,600);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700,400italic);

$font-family--primary    : 'Raleway', serif;
$font-family--secondary  : 'Lora', serif;


// Icons
@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);


// Susy

$susy: (
  columns: 12,
  gutters: .25,
  container: 1200px,
  gutter-position: inside,
  clearfix: true
);

// Breakpoints

$bp_xs: 480px;
$bp_s: 786px;
$bp_m: 992px;
$bp_l: 1200px;

// Colors

// $c_mighty_slate     : #556270;
// $c_pacifica         : #4ECDC4;
// $c_apple_chic       : #C7F464;
// $c_cheery_pink      : #FF6B6B;
// $c_grandmas         : #C44D58;
// $c_crema            : #F6F6F6;


  $c_violeta            : #A6ACEC;
  $c_violetao           : #A56CC1;
  $c_roxo               : #9013FE;
  $c_aqua               : #CEFFF1 ;
  $c_aquazul            : #ACE7EF;
  $c_turquoise          : #50F2C3;
  $c_white              : #fff;
  $c_black              : #0b0b0b;
  $c_grey               : #525252;
  $c_greylight          : #D8D8D8;
  $c_crema              : #F6F6F6;



// Color Usage

$color-primary   : $c_grey;
$color-secondary : $c_turquoise;
$color-terciary  : $c_roxo;
$color-four      : $c_violeta;
$color-five      : $c_violetao;
$color-accent    : $c_aqua;
$color-shadow    : rgba($c_black, .2);
$color-background: $c_crema;

// Color Palette Modifiers

$color-palettes: (
  grey: (
    xx-light : lighten($c_grey, 43%),
    x-light  : lighten($c_grey, 35%),
    light    : lighten($c_grey, 12%),
    base     : $c_grey,
    dark     : darken($c_grey, 8%),
    x-dark   : darken($c_grey, 16%)
  ),
  black: (
    light    : lighten($c_black, 10%),
    base     : $c_black,
    dark     : darken($c_black, 10%)
  )
);




// Modular Scale

$ms-base: 1.3em;
$ms-ratio: 1.618,1.067;
